body {
    background-color: #f5f5f5;
    margin: 0;
    height: 100%;
  }

.e113_460{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 45px;
	font-weight: 900;
	line-break:strict;
	text-align: left;
	position:relative;
	left:10%;
}

.e113_461{
    font-family: Jomolhari;
    font-size: 45px;
	position: relative;
	left:10%;
    text-align: right;
    text-decoration: underline;
}

.e113_462{
	font-family:Inter;
	text-align: left;
	position: relative;
	left:10%;
	font-size: 20px;
	top: 12px;
	position: relative;
    line-break: auto;
    width: 504px;
    display: inline-block;
}

.e113_221{
	color:#9da1b1;
	text-align: center;
	font-weight:bold ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card1{
	background-color:#f5f5f5 ;
	padding-top: 5%;
	border:none;
	box-shadow:none;
}

.card1:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
		border: 1px solid #f5f5f5;
		background: white;
		border-radius:12px;
	  }
	
.card2{
	background-color:#ffffff ;
	border:black;
	padding-left: 20px;
	box-shadow:20px;
	border-radius: 9px;
	padding-bottom: 8px;
}


.card2:hover {
	transition: all 0.2s ease-out;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
	border: 1px solid #f5f5f5;
	background: rgb(0, 0, 0);
	color:white;
	border-radius:12px;
  }

.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
	  
		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;
	  
		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;
	  
		/* Support for IE. */
		font-feature-settings: 'liga';
	  }

.e113_222{
	color: #23b3bc;
	text-align: left;
}

.paragraph{
    text-align: left;
    font-size: 18px;
    font-weight:600;
}


.e113_223{
	color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.e113_224{
	color: #000;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.e113_225 {
	color: #9DA1B1;
	position: relative;
	top:5px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 181.023%; /* 25.343px */
}

.e113_226 {
	color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.logo{
	position: relative;
	left:15px;
	bottom:10px;
}

a:link{
	text-decoration: none;
}

a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.checked {
	color: orange;
  }

.learn{
	color:#000 ;
}

.learn:hover{
 border-color: #000;
 background-color: #000;
 color:white
}

.other {
	background-color: #f5f5f5;
	color: black;
	padding: 7px;
	text-align: center;
	font-size: 16px;
	border:1px solid;
	border-radius: 10%;
	position: relative;
	left:22%;
	top:3px
  }
  
 

  @keyframes Mymove {
	from {color:white;background-color: #000;}
	to {color:#000;background-color: white;}
	
  }
  
.other:hover{
	padding:10px;
	animation:Mymove 1.5s linear 4;
	animation-direction: alternate;
	
	transition: 0.8s;
}
.other{
	border:#000 solid 1px;
	color:#000;
  }

  .form-popup {
	display: none;
	position: fixed;
	left:40px;
	filter: drop-shadow(23px, 24px,45px);
	z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
	position: relative;
	background: white;
	right:10px;
	bottom:25px;
	max-width: 300px;
	border-radius: 25px;
	padding:25px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: red;

  }
  

  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.btn-dark:hover{
	animation: shake 0.5s;
	animation-iteration-count: 0.5;
}

.card3{
	border-radius: 9px;
	text-align: center;
	filter: drop-shadow(6px 6px 0px  #000000);
	text-decoration-color: black;
	animation: mymove 6s infinite;
	animation-direction: alternate;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
0% {
	background-position: 0% 50%;
}
50% {
	background-position: 100% 50%;
}
100% {
	background-position: 0% 50%;
}
}

.nav-link:hover{
	transform: scale(1.4);
  }

  .btn7{
	padding:10px;
	border-radius: 9px;

  }
  .btn7:hover{
	background-color: #000000;
	color: #ffffff;
	transition: 0.8s;
	border-radius: 9px;
	padding:10px;
  }

  
.switch {
    display: inline-block;
    position: relative;
}

.switch__input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.switch__label {
    position: relative;
    display: inline-block;
	top:20px;
	left:20px;
    width: 120px;
    height: 60px;
    background-color: #2B2B2B;
    border: 5px solid #5B5B5B;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.switch__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-72%);
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7B7B7B;
    border-radius: 9999px;
    box-shadow: 10px 0px 0 0 rgba(#000000, 0.2) inset;

    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        background-color: #FFFFFF;
        border-radius: 9999px;
    }

    &::before {
        top: 7px;
        left: 7px;
        width: 9px;
        height: 9px;
        background-color: #FFFFFF;
        opacity: 0.6;
    }

    &::after {
        bottom: 8px;
        right: 6px;
        width: 14px;
        height: 14px;
        background-color: #FFFFFF;
        opacity: 0.8;
    }
}

.switch__decoration {
    position: absolute;
    top: 65%;
    left: 50%;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 9999px;
    animation: twinkle 0.8s infinite -0.6s;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 5px;
        height: 5px;
        background-color: #FFFFFF;
        border-radius: 9999px;
    }

    &::before {
        top: -20px;
        left: 10px;
        opacity: 1;
        animation: twinkle 0.6s infinite;
    }

    &::after {
        top: -7px;
        left: 30px;
        animation: twinkle 0.6s infinite -0.2s;
    }
}

@keyframes twinkle {
    50% { opacity: 0.2; }
}

.switch__indicator {
    &,
    &::before,
    &::after {
        transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
    }
}

.switch__input:checked + .switch__label {
    background-color: #8FB5F5;
    border-color: #347CF8;

    .switch__indicator {
        background-color: #ECD21F;
        box-shadow: none;
        transform: translate(-50%, -50%) translateX(72%);

        &::before,
        &::after {
            display: none;
        }
    }

    .switch__decoration {
        top: 50%;
        transform: translate(0%, -50%);
        animation: cloud 8s linear infinite;

        width: 20px;
        height: 20px;

        &::before {
            width: 10px;
            height: 10px;
            top: auto;
            bottom: 0;
            left: -8px;
            animation: none;
        }

        &::after {
            width: 15px;
            height: 15px;
            top: auto;
            bottom: 0;
            left: 16px;
            animation: none;
        }

        &,
        &::before,
        &::after {
            border-radius: 9999px 9999px 0 0;
        }

        &::after {
            border-bottom-right-radius: 9999px;
        }
    }
}

@keyframes cloud {
    0% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}